@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  * {
    box-sizing: border-box;
  }

  img {
    max-width: 100%;
  }

  body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }
  .container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1165px;
  }

  .listItemsHeader {
    @apply relative bg-black hover:bg-experienceHover text-white h-[22px] mr-2 font-normal rounded text-sm p-[1px_7px_2px_7px] mb-[10px];
  }
  .mainLinksPortfolio {
    @apply text-link hover:text-hover font-normal text-sm;
  }
  .mainButtonExperience {
    @apply text-link hover:text-hover underline;
  }
}

.listItemsHeader:hover > .button {
  display: inline;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.validatingInput:focus + span {
  display: block;
}

.printBtn:hover > svg > path {
  fill: #eb5757;
}
